---
# The name of your project
title: Spring Data Neo4j

badges:

  # Specify your project's twitter handle, if any. Delete if none.
  twitter: Neo4j

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/SpringSource/spring-data-neo4j
      icon: github

    - name: Issues (JIRA)
      url:  http://jira.springsource.org/browse/DATAGRAPH
      icon: tracking

    - name: CI (Bamboo)
      url:  https://build.springsource.org/browse/SPRINGDATA
      icon: ci

    - name: StackOverflow
      url:  http://stackoverflow.com/questions/tagged/spring-data-neo4j-4
      icon: stackoverflow
---
<!DOCTYPE HTML>
<html lang="en-US">

<!-- Specify the parent of this project (or delete if none) to influence the rendering of the breadcrumb -->
{% capture parent_link %}
[Spring Data]({{ site.projects_site_url }}/spring-data)
{% endcapture %}


{% capture billboard_description %}

This project provides Spring Data support for the [Neo4j](http://neo4j.com/developer/) Graph Database, including annotated POJOs, SD-Repositories and Neo4j-Template.

{% endcapture %}

{% capture main_content %}

Spring Data Neo4j offers advanced features to map annotated entity classes to the Neo4j Graph Database.
The template programming model is equivalent to other Spring templates and builds the basis for interaction with the graph and is also used for the Spring Data repository support.
Spring Data Neo4j is core part of the Spring Data project which aims to provide convenient data access for NoSQL databases.


## Features

* Support for property graphs (nodes connected via relationships, each with arbitrary properties)
* Object-Graph-Mapping of annotated POJO entities
* Neo4jTemplate with convenient API, exception translation and optional transaction management
* extensive Spring Data Commons Repositories Support, including annotated and derived finder methods
* Arbitrary result projections for finder methods
* Supports the Cypher Graph Quey Language
* Based on the Neo4j-OGM library
* Supports binary (bolt), http and embedded transports to connect to Neo4j
* Available with Spring Boot (since 1.4.0-M3)

<span id="quick-start"></span>

## Quick Start

{% include download_widget.md %}

### Domain Entities

Annotate your domain objects.

```java
@NodeEntity
public class Movie {

  @GraphId Long id;
  String title;

  Person director;

  @Relationship(type="ACTS_IN", direction = Relationship.INCOMING)
  Set<Person> actors;

  @Relationship(type = "RATED")
  List<Rating> ratings;
}
```

### Repositories

Declare a repository interface.

```java
interface MovieRepository extends GraphRepository<Movie> {

  // derived finder
  Movie findByTitle(String title);

  @Query("MATCH (m:Movie)<-[rating:RATED]-(user) WHERE id(movie)={movie} return rating")
  List<Rating> getRatings(@Param("movie") Movie movie);

  // Co-Actors
  Set<Person> findByActorsMoviesActorName(String name);

  @Query("MATCH (movie:Movie)-[:HAS_GENRE]->(genre)<-[:HAS_GENRE]-(similar)
          WHERE id(movie) = {0} RETURN similar")
  List<Movie> findSimilarMovies(Movie movie);
}
```

### Configuration

Enable Spring Data Neo4j repositories.

```java
@Configuration
@EnableTransactionManagement
@ComponentScan("org.neo4j.cineasts")
@EnableNeo4jRepositories("org.neo4j.cineasts.repository")
public class PersistenceContext extends Neo4jConfiguration {

    @Override
    public SessionFactory getSessionFactory() {
        return new SessionFactory("org.neo4j.cineasts.domain");
    }
}
```

### Example

Use the repository

```java
@Autowired MovieRepository repo;

Iterable<Movie> movies = repo.findAll();
Movie movie = repo.findByTitle("The Matrix");
repo.save(movie);

List<Rating> ratings = repo.getRatings(movie);
```

{% endcapture %}

{% capture related_resources %}

### Example Projects

* [From the Spring Data Book - Neo4j](https://github.com/SpringSource/spring-data-book/tree/master/neo4j)
* [Spring Data Neo4j - Example Projects](https://github.com/neo4j-examples?query=sdn)

### Getting Started Guides

* [Accessing Data with Neo4j]({{site.main_site_url}}/guides/gs/accessing-data-neo4j)
* [Accessing Neo4j Data with REST]({{site.main_site_url}}/guides/gs/accessing-neo4j-data-rest)

### Tutorials

* [Social Movie Database Tutorial](https://github.com/neo4j-examples/sdn4-cineasts/wiki)
* [Social Movie Database Repository](https://github.com/neo4j-examples/sdn4-cineasts)
* [Spring Data Neo4j Reference](http://docs.spring.io/spring-data/neo4j/docs/current/reference/html/)

{% endcapture %}


{% include project_page.html %}
</html>
