<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:neo4j="http://www.springframework.org/schema/data/neo4j"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/neo4j http://www.springframework.org/schema/data/neo4j/spring-neo4j.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="org.neo4j.cineasts">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <context:spring-configured/>

    <neo4j:config storeDirectory="target/data/graph.db"/>
    <neo4j:repositories base-package="org.neo4j.cineasts.repository"/>

    <!--neo4j:config graphDatabaseService="graphDatabaseService"/>
    <bean id="graphDatabaseService" class="org.springframework.data.neo4j.rest.SpringRestGraphDatabase">
        <constructor-arg value="http://localhost:7474"/>
    </bean-->

    <bean class="org.neo4j.cineasts.movieimport.MovieDbApiClient">
        <constructor-arg value="926d2a79e82920b62f03b1cb57e532e6"/>
    </bean>
    <bean class="org.neo4j.cineasts.movieimport.MovieDbLocalStorage">
        <constructor-arg value="data/json"/>
    </bean>

    <tx:annotation-driven mode="proxy"/>

</beans>