<div>

    <h2 translate="registrarApp.teacher.home.title">Teacher</h2>

    <!-- create a new teacher -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveTeacherModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="registrarApp.teacher.home.createLabel">Create a new Teacher</span>
    </button>

    <div class="modal fade" id="saveTeacherModal" tabindex="-1" role="dialog" aria-labelledby="myTeacherLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myTeacherLabel" translate="registrarApp.teacher.home.createOrEditLabel">Create or edit a Teacher</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label translate="registrarApp.teacher.name">Name</label>
                            <input type="text" class="form-control"
                                   ng-model="teacher.name">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- delete the teacher -->
    <div class="modal fade" id="deleteTeacherConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(teacher.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="registrarApp.teacher.delete.question" translate-values="{id: '{{teacher.id}}'}">Are you sure you want to delete Teacher {{teacher.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div>
        <span>Find&nbsp;<label><input class="search" ng-model="searchText"></label></span>
    </div>

    <!-- the list of teachers -->
    <div class="table-responsive view">
        <table class="table table-striped">
           <tbody>
                <tr ng-repeat="teacher in teachers | filter:searchText track by teacher.name">
                    <td><a ng-model="teacher.name" ui-sref="teacherDetail({id:teacher.id})">{{teacher.id}}:{{teacher.name}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
