<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c)  [2011-2017] "Pivotal Software, Inc." / "Neo Technology" / "Graph Aware Ltd."
  ~
  ~ This product is licensed to you under the Apache License, Version 2.0 (the "License").
  ~ You may not use this product except in compliance with the License.
  ~
  ~ This product may include a number of subcomponents with
  ~ separate copyright notices and license terms. Your use of the source
  ~ code for these subcomponents is subject to the terms and
  ~ conditions of the subcomponent's license, as noted in the LICENSE file.
  ~
  -->

<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %5p %40.40c:%4L - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="ch.qos.logback" level="warn" />
    <logger name="org.apache.http" level="warn" />
    <logger name="org.eclipse.jetty" level="warn" />
    <logger name="org.neo4j.ogm" level="warn" />
    <logger name="org.springframework" level="warn" />
    <logger name="org.springframework.data.neo4j" level="warn" />
    <root level="warn">
        <appender-ref ref="console" />
    </root>

</configuration>
