
<div>
    <h2>Department {{department.id}}:{{department.name}}</h2>
    <div class="table-responsive">
        <form name="form"
              role="form"
              novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
              ng-controller="DepartmentController">

            <div>
                <button ui-sref="department" class="btn btn-info">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
                </button>

                <button type="submit" ng-click="create()" ui-sref="department" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                </button>

                <button type="submit" ng-click="delete(department.id)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                </button>
            </div>


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th translate="entity.detail.field">Field</th>
                        <th translate="entity.detail.value">Value</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Name</td>
                        <td><input type="text" class="input-sm form-control" ng-model="department.name" value="{{department.name}}"></td>
                    </tr>

                    <tr>
                        <td><span>Subjects</span></td>
                        <td>
                            <div class="well view">
                                <a class="pull-right caret" data-toggle="collapse" data-target="#subjects" />
                                <div class="collapse in" id="subjects">
                                    <div ng-controller="SubjectController">
                                        <div ng-repeat="subject in subjects track by subject.name" >
                                            <label><input type="checkbox" class="form control pull-left" checklist-model="department.subjects" checklist-value="subject" />&nbsp;{{subject.name}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

        </form>
    </div>

    <div class="modal fade" id="deleteDepartmentConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-controller="DepartmentController">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="registrarApp.department.delete.question" translate-values="{id: '{{department.id}}'}">Are you sure you want to delete Department {{department.id}}?</p>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>

                        <button type="button" class="btn btn-danger" ng-click="confirmDelete(department.id)">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
