<?xml version="1.0" encoding="UTF-8"?>
<!--
 | Copyright 2011-2022 the original author or authors.
 | 
 | Licensed under the Apache License, Version 2.0 (the "License");
 | you may not use this file except in compliance with the License.
 | You may obtain a copy of the License at
 |
 |     https://www.apache.org/licenses/LICENSE-2.0
 |
 | Unless required by applicable law or agreed to in writing, software
 | distributed under the License is distributed on an "AS IS" BASIS,
 | WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 | See the License for the specific language governing permissions and
 | limitations under the License.
-->

<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="org.springframework.data.neo4j.test.TestLogFilter" />
        <encoder>
            <pattern>[%t] %d %5p %40.40c:%4L - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.neo4j.driver" level="info"/>
    <logger name="GraphDatabase" level="info"/>
    <logger name="Driver" level="info"/>
    <logger name="OutboundMessageHandler" level="info"/>
    <logger name="InboundMessageDispatcher" level="info"/>

    <logger name="org.springframework.data.neo4j.cypher" level="trace"/>
    <logger name="org.springframework.data.neo4j" level="info"/>
    <logger name="org.springframework.data.neo4j.test" level="info"/>
    <logger name="org.springframework.data.neo4j.repository.query.Neo4jQuerySupport" level="debug" />
    <logger name="org.springframework.data.neo4j.core.mapping.Neo4jPersistentEntity" level="error" />

    <root level="warn">
        <appender-ref ref="console"/>
    </root>

</configuration>
