<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE chapter PUBLIC "-//OASIS//DTD DocBook XML V4.4//EN" "http://www.oasis-open.org/docbook/xml/4.4/docbookx.dtd">
<chapter id="reference:spring-data">
    <title>About Spring Data</title>
    <para>
        <ulink url="http://springsource.org/spring-data">Spring Data</ulink> is a SpringSource project that aims to
        provide Spring's convenient programming model and well known conventions for NOSQL databases. Currently there
        is support for graph (e.g. Neo4j), key-value (e.g. Redis), document (e.g. MongoDB) and relational (e.g. Oracle)
        databases. Mark Pollack, the author of Spring.NET, is the project lead for the Spring Data project.
    </para>
</chapter>
